<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.notes.boot.dict.dao.CompanyDAO">
    <resultMap id="BaseResultMap" type="com.notes.boot.dict.beans.Company">
        <result column="id" property="id"/>
        <result column="companyName" property="company_name"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="base_Column_list">
    id,company_name,address,create_time
    </sql>

    <!--useGeneratedKeys="true" 保证返回最新主键-->
    <insert id="save" parameterType="com.notes.boot.dict.beans.Company" useGeneratedKeys="true" keyProperty="id">
        insert into company
        (
        id,company_name,address
        <if test="createTime!=null">
            ,create_time
        </if>
        )
        values
        (
        #{id},#{companyName},#{address}
        <if test="createTime!=null">
            ,#{createTime}
        </if>
        )
    </insert>

    <select id="selectById" resultMap="BaseResultMap"  parameterType="java.lang.Long">
        select
        <include refid="base_Column_list"/>
        from company
        where id=#{id}
    </select>

    <update id="updateById"  parameterType="com.notes.boot.dict.beans.Company" keyProperty="id">
        update company set company_name=#{companyName},address=#{address} where id=#{id}
    </update>

</mapper>